<div class="container entry-content">
  <div class="row">
    <div class="col-md-12 page-header">
<h1>Welcome, <%= @firstname %> <%= @lastname %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 main-content button-content">
      <p>
      <a class="btn btn-primary" <%= link_to "Request an Appointment", {:controller => "appointment", :action => "create", :patient_id => session[:user_id]} %></a>
      </p><p>
      <% if @sendAlertLink == true %>
      <a class="btn btn-danger" <%= link_to "Send Medical Alert", {:action => "send_alert"} %></a>
      </p><p>
      <% end %>
      </p><p>
      <a class="btn btn-primary" <%= link_to "View Visit History", {:controller => "appointment", :action => "index", :id => session[:user_id]} %></a>
      </p><p>
      <a class="btn btn-primary" <%= link_to "View Health Conditions", {:controller => "condition", :action => "index", :id => session[:user_id]} %></a>
      </p><p>
      <a class="btn btn-primary" <%= link_to "View Medical History", {:controller => "history", :action => "index", :id => session[:user_id]} %></a>
      </p><p>
      <a class="btn btn-primary" <%= link_to "View Prescriptions", {:controller => "prescription", :action => "index", :id => session[:user_id]} %></a>
      </p><p>
      <a class="btn btn-info" href="logout">Log Out</a>
      </p>
    </div>
  </div>
</div>
